"*":
  core:
    disabledPackages: [
      "linter-gcc"
      "linter-clang"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "monospace"
    fontSize: 15
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "66f0e2b4-e130-79fd-dae4-80dc0d9e6cea"
  "linter-clang":
    clangDefaultCppFlags: "-Wall -Wextra -std=c++11"
    executablePath: "clang-5.0"
  "linter-flake8":
    ignoreErrorCodes: [
      "E302"
      "E128"
    ]
    projectConfigFile: [
      ".flake8rc"
    ]
  "linter-rust":
    cargoCommand: "rustc"
    disableExecTimeout: true
  "linter-ui-default":
    showPanel: true
  "markdown-themeable-pdf":
    customFooterPath: "markdown-themeable-pdf/uni-footer.js"
    customHeaderPath: "markdown-themeable-pdf/uni-header.js"
  "package-generator":
    packageSyntax: "coffeescript"
  "seti-ui":
    compactView: true
    displayIgnored: false
    fileIcons: false
    font: "Default Atom Font"
    themeColor: "Steel"
  "terminal-plus":
    core: {}
    style:
      defaultPanelHeight: "200px"
  welcome:
    showOnStartup: false
".lisp.source":
  editor:
    softWrap: false
