# My Keymap

'.platform-win32, .platform-linux':
    'ctrl-f': 'find-and-replace:show'
    'ctrl-h': 'project-find:show'
    'ctrl-g': 'fuzzy-finder:toggle-file-finder'
    'ctrl-n': 'find-and-replace:select-next'

'atom-workspace atom-text-editor':
    'alt-down': 'editor:move-line-down'
    'alt-up': 'editor:move-line-up'
    'ctrl-d': 'editor:delete-line'
    'ctrl-l': 'go-to-line:toggle'
    'ctrl-o': 'editor:select-line'
    'alt-shift-down': 'editor:add-selection-below'
    'alt-shift-up': 'editor:add-selection-above'
    'ctrl-r': 'pane:split-right-and-copy-active-item'
    'ctrl-t': 'split-diff:toggle'
